/* :root {
  --slidev-theme-primary: #ED7F53;
} */

.slidev-layout {
  @apply tracking-normal leading-7;
  font-family: 'TT Commons Pro';

  h1 {
    @apply text-5xl text-left tracking-tight;
    line-height: 110%;
  }

  :is(em, blockqoute) {
    font-family: 'Reckless';
  }

  dl {
    @apply text-sm;

    &:not(:first-child) {
      @apply mt-10;
    }

    dt {
      @apply font-bold;
    }

    dd + dt {
      @apply mt-2;
    }
  }

  &:not(.cover) {
    &:is(.bg-orange, .bg-blend-orange) {
      background-color: var(--slidev-theme-primary-orange);
    }
    &:is(.bg-blue, .bg-blend-blue) {
      background-color: var(--slidev-theme-primary-blue);
    }
    &:is(.bg-purple, .bg-blend-purple) {
      background-color: var(--slidev-theme-primary-purple);
    }

    &:is(.bg-blend-orange) {
      @apply text-white;
      background: var(--slidev-theme-primary-orange) url('/blends/orange.jpg') no-repeat center center;
    }
    &:is(.bg-blend-blue) {
      @apply text-white;
      background: var(--slidev-theme-primary-blue) url('/blends/blue.jpg') no-repeat center center;
    }
    &:is(.bg-blend-purple) {
      @apply text-white;
      background: var(--slidev-theme-primary-purple) url('/blends/purple.jpg') no-repeat center center;
    }
  }
}

.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  h1 + p {
    @apply -mt-2 mb-4;
  }

  p + h2, ul + h2, table + h2 {
    @apply mt-10;
  }
}
