:root {
  --slidev-theme-primary-orange: #ed7f53;
  --slidev-theme-primary-blue: #365fd9;
  --slidev-theme-primary-purple: #a13865;
  --slidev-theme-secondary-orange: #fdbc75;
  --slidev-theme-secondary-blue: #868ada;
  --slidev-theme-secondary-purple: #f5b3cc;
  --slidev-theme-tertiary-orange: #f8c4ae;
  --slidev-theme-tertiary-blue: #9caee9;
  --slidev-theme-tertiary-purple: #c398b7;
  --slidev-theme-quaternary-orange: #fce8df;
  --slidev-theme-quaternary-blue: #d8dff6;
  --slidev-theme-quaternary-purple: #e7d6e2;
  --slidev-theme-grey-lightest: #f7f7f7;
  --slidev-theme-grey-lighter: #f4f1ed;
  --slidev-theme-grey-light: #ebe8e3;
  --slidev-theme-grey-dark: #ebebeb;
  --slidev-theme-grey-darker: #c4c4c4;
  --slidev-theme-grey-darkest: #454545;
}

.slidev-layout {
  @apply tracking-normal leading-7;
  font-family: 'TT Commons Pro';

  h1 {
    @apply text-5xl text-left tracking-tight;
    line-height: 110%;
  }

  :is(em, blockqoute) {
    font-family: 'Reckless';
  }

  dl {
    @apply text-sm;

    &:not(:first-child) {
      @apply mt-10;
    }

    dt {
      @apply font-bold;
    }

    dd + dt {
      @apply mt-2;
    }
  }
}

.footer:has(+ #slideshow > .slidev-layout:is(
  .bg-orange,
  .bg-blend-orange,
  .bg-blue,
  .bg-blend-blue,
  .bg-purple,
  .bg-blend-purple
  ):not([style*="display: none;"]) /* The not selector is used to detect if the selector matches the current slide */
) {
  @apply text-white;
}

.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  h1 + p {
    @apply -mt-2 mb-4;
  }

  :is(p, ul, table) + h2 {
    @apply mt-10;
  }
}
